<div fxLayout fxLayoutAlign="center center" class="contenedor">
  <mat-card fxFlex="1 1 400px">
    <form fxLayout="column" [formGroup]="group">
      <h3>Ingrese sus credenciales</h3>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input type="text" matInput formControlName="email"><br>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div fxLayout fxLayoutAlign="center">
        <button mat-flat-button color="primary" (click)="login()">Ingresar</button>
      </div>
    </form>
  </mat-card>
</div>