<div fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="1 1 700px" class="mat-elevation-z12">
    <app-table [dataSource]="dataSource" [metaDataTable]="metaDataListMedics" fxLayout="column">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <button mat-button matTooltip="EDITAR" (click)="action('EDITAR', row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button matTooltip="ELIMINAR" (click)="action('ELIMINAR', row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </app-table>
  </mat-card>
</div>